<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/static}">Movies</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/add-movie}">Add movie</a>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           style="font-weight: bold; !important;" th:href="@{/approve-movie}">Approve movie</a>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           style="font-weight: bold; !important;" th:href="@{/edit-movie}">Edit movie</a>
                    </li>
                </ul>

                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item"><a class="nav-link" th:href="@{/profile}">My profile</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="isAnonymous()" class="nav-item"><a class="nav-link" th:href="@{/login}">Sign in</a></li>
                    <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/logout}">Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

</body>
</html>